@import "src/styles/variables";

.custom-input {
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.15);
  border-radius: 100vmax;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  padding: 0 25px;

  input {
    height: 100%;
    width: 100%;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    color: $primary;
  }
}
