.direction {
  width: 100%;
  height: 100%;

  .direction-header {
    display: flex;
    width: 100%;

    .direction-title {
      display: flex;
      align-items: center;
      gap: 10px;

      .direction-separator {
        color: grey;
        font-size: 14pt;
      }
    }
  }

  .direction-body {
    display: flex;
    align-items: center;
    padding: 25px 150px;
    height: 50%;
    overflow-x: auto;
    mask-image: linear-gradient(90deg, transparent 0%, #000 5%, #000 95%, transparent);
  }
}
